In [1]:
# https://ourworldindata.org/energy-production-consumption

import pandas as pd
import numpy as np

import sys
import os

# Get the directory where this notebook is located
notebook_dir = os.path.dirname(os.path.abspath(''))

# Add the PythonPrep directory to the path
pythonprep_dir = os.path.join(os.path.dirname(notebook_dir), 'PythonPrep') if 'PythonPrep' not in notebook_dir else notebook_dir
sys.path.append(pythonprep_dir)

from paths import main_path

In [2]:
df = pd.read_csv(main_path + '/Democracy/PythonData/per-capita-energy-use/per-capita-energy-use.csv')
df

,Entity,Code,Year,Primary energy consumption per capita (kWh/person)
0,Afghanistan,AFG,1980,623.92865
1,Afghanistan,AFG,1981,786.83690
2,Afghanistan,AFG,1982,926.65125
3,Afghanistan,AFG,1983,1149.19590
4,Afghanistan,AFG,1984,1121.57290
...,...,...,...,...
10689,Zimbabwe,ZWE,2017,3068.01150
10690,Zimbabwe,ZWE,2018,3441.98580
10691,Zimbabwe,ZWE,2019,3003.65530
10692,Zimbabwe,ZWE,2020,2680.13180
10693,Zimbabwe,ZWE,2021,2635.15360

In [3]:
df['growth_rate'] = df.groupby('Entity')['Primary energy consumption per capita (kWh/person)'].pct_change() * 100

In [4]:
periods = {
    '2001-2019': (2001, 2019),
    '2020-2022': (2020, 2022),
}

result_df = pd.DataFrame()

for period, (start_year, end_year) in periods.items():

    period_df = df[(df['Year'] >= start_year) & (df['Year'] <= end_year)]
    avg_energy = period_df.groupby('Entity')['growth_rate'].mean().rename(period)
    
    result_df = pd.concat([result_df, avg_energy], axis=1)

result_df.reset_index(inplace=True)
result_df['country'] = result_df['index']
result_df = result_df.drop('index', axis=1)
result_df = result_df[['country'] + [col for col in result_df.columns if col != 'country']]

result_df.rename(columns={
    '2001-2019': 'avg_energy_2001_2019',
    '2020-2022': 'avg_energy_2020_2022',
}, inplace=True)

result_df

            country  avg_energy_2001_2019  avg_energy_2020_2022
0       Afghanistan              7.877487             -8.075695
1            Africa              0.432439             -1.019176
2           Albania              2.014694             11.340091
3           Algeria              2.765114              0.394991
4    American Samoa             -0.626705              7.952841
..              ...                   ...                   ...
226  Western Sahara             -3.526734             -1.348586
227           World              0.849545              0.250005
228           Yemen             -2.317293            -13.555434
229          Zambia              0.261884              7.089663
230        Zimbabwe             -2.241442             -6.224601

[231 rows x 3 columns]

In [5]:
result_df[result_df['avg_energy_2001_2019']==np.inf]

Empty DataFrame
Columns: [country, avg_energy_2001_2019, avg_energy_2020_2022]
Index: []

In [6]:
###

In [ ]:
result_df.to_csv(main_path + '/Democracy/Democracy_Main/MainAnalysis/input/channels21st/new_channels/energy.csv', index=False)